:root {
  /* Common dimensions */
  --main-footer-padding-in-common-screens: 8vw 0;

  /* Medium Screen Dimensions */
  --btn-padding-in-md-screen: 1.3vw 1.44vw;
  --btn-wide-padding-inline-in-md-screen: 3.5vw;
  --btn-margin-in-md-screen: 1vw;
  --btn-font-size-in-md-screen: 1.2rem;
  --btn-border-width-in-md-screen: 0.3vw;

  /* Small Screen Dimensions */
  --main-header-padding-in-sm-screen: 2.9vw 0;

  --btn-padding-in-sm-screen: 2.5vw 3vw;
  --btn-wide-padding-inline-in-sm-screen: 6vw;
  --btn-margin-in-sm-screen: 3vw;
  --btn-font-size-in-sm-screen: 2.464rem;
  --btn-border-width-in-sm-screen: 0.42vw;
}

/* ============================================================================== */
/* =============================[ MEDIUM SCREENS ]=============================== */
/* ============================================================================== */
@media (max-width: 1200px) {
  .btn-container > :first-child {
    margin-inline-end: var(--btn-margin-in-md-screen);
  }

  .btn,
  .btn-with-bg {
    padding: var(--btn-padding-in-md-screen);
    font-size: var(--btn-font-size-in-md-screen);
    border-width: var(--btn-border-width-in-md-screen);
    border-radius: 2vw;
  }

  .btn-wide {
    padding-inline: var(--btn-wide-padding-inline-in-md-screen);
  }

  /* ============================================================================== */
  /* ===============================[ MAIN HEADER ]================================ */
  /* ============================================================================== */
  #main-header {
    grid-template-columns:
      var(--R-L-page-padding)
      1fr 1.3fr
      var(--R-L-page-padding);
  }

  #main-header > .logo {
    font-size: 1.3rem;
  }

  #main-header > .logo .logo-icon {
    margin-inline-end: 0.5vw;
    width: 5vw;
  }

  #main-header > .logo::after {
    font-size: 0.7rem;
  }

  #main-header #navbar > a {
    font-size: 1.2rem;
  }

  /* ============================================================================== */
  /* ===============================[ MAIN FOOTER ]================================ */
  /* ============================================================================== */
  .main-footer {
    grid-template-areas:
      ". accounts ."
      ". email ."
      ". location .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    grid-template-rows: initial;
    justify-items: center;
    text-align: center;
    padding: var(--main-footer-padding-in-common-screens);
    font-size: 2rem;
  }

  .accounts {
    align-items: center;
    font-size: 3rem;
    padding: var(--main-footer-padding-in-common-screens);
    padding-top: 0;
  }

  .accounts-container {
    width: 50%;
    padding: var(--main-footer-padding-in-common-screens);
    padding-bottom: 0;
  }

  .accounts-container svg {
    width: 3rem;
    height: 3rem;
  }

  .location {
    font-size: 1.88rem;
  }

  .email {
    font-size: inherit;
    padding: var(--main-footer-padding-in-common-screens);
    padding-top: 0;
  }

  /* ============================================================================== */
  /* =============================[ HOME SECTION ]================================ */
  /* ============================================================================== */
  .home-section > figure {
    grid-template-areas: ". img-container ." ". figcaption .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    grid-template-rows: 1fr auto;
  }

  .home-section > figure > figcaption {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home-section > figure > figcaption p {
    font-size: 1.4rem;
    margin: 3.226vw 0;
  }

  .home-section > footer > h2 {
    font-size: 1.7rem;
  }

  .home-section > footer > .advantage > img {
    width: 15vw !important;
  }

  .home-section > footer > .advantage > p {
    margin-top: 1vw;
    font-size: 1.2rem;
  }

  /* ============================================================================== */
  /* ============================[ QR TYPES SECTION ]============================== */
  /* ============================================================================== */
  #qr-types-section > header {
    padding-bottom: 0;
  }

  #qr-types-section > header h2 {
    font-size: 1.87rem;
    margin-bottom: 2vw;
  }

  #qr-types-section > header h2 > span {
    font-size: 1.58rem;
  }

  #qr-types-section > header .qr-type-cards {
    margin-bottom: 5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2.5vw;
    justify-items: center;
  }

  #qr-types-section > header .qr-type-cards .btn {
    width: 16.65vw;
    height: 16.65vw;
    align-items: center;
  }

  .xsm-dynamic-img {
    width: 3.94vw;
  }

  .sm-dynamic-img {
    width: 4.9vw;
  }

  .md-dynamic-img {
    width: 5.55vw;
  }

  .lg-dynamic-img {
    width: 5.8709vw;
  }

  .xlg-dynamic-img {
    width: 6.19vw;
  }

  .xxlg-dynamic-img {
    width: 6.516vw;
  }

  #qr-types-section > header .qr-type-cards .btn > p {
    font-size: 1.5rem;
  }

  #qr-types-section > header .qr-type-cards .left-slider-btn,
  #qr-types-section > header .qr-type-cards .right-slider-btn {
    display: none;
  }

  #qr-types-section > footer {
    grid-template-areas:
      ". left-section ."
      ". right-section .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
  }

  #qr-types-section > footer .left-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 8vw;
  }

  #qr-types-section > footer .left-section > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #qr-types-section > footer .left-section > div > p {
    font-size: 1.4rem;
  }

  #qr-types-section > footer .left-section > div .btn {
    padding: 2.5vw 1vw;
  }

  @media (max-width: 1200px) and (min-width: 767px) {
    #qr-types-section > footer .right-section {
      display: grid;
      grid-template-columns: 1.2fr 1.2fr 0.7fr;
      grid-template-rows: repeat(2, 5vw);
      letter-spacing: 0.05rem;
    }
  }

  #qr-types-section > footer .right-section > p {
    font-size: 1.2rem;
  }

  /* ============================================================================== */
  /* ============================[ USE CASES SECTION ]============================= */
  /* ============================================================================== */
  #use-cases-section .use-case .img-container > img {
    width: calc(60% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(3) .img-container > img {
    width: calc(55% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(4) .img-container > img {
    width: calc(50% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(5) .img-container > img {
    width: calc(51% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(6) .img-container > img {
    width: calc(67% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(7) .img-container > img {
    width: calc(90% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(8) .img-container > img {
    width: calc(65% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(9) .img-container > img {
    width: calc(80% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(10) .img-container > img {
    width: calc(53% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(11) .img-container > img {
    width: calc(80% + 5%);
  }

  #use-cases-section .use-case:nth-of-type(12) .img-container > img {
    width: calc(55% + 5%);
  }

  #use-cases-section .use-case > figcaption {
    font-size: 1.5rem;
  }

  #use-cases-section .use-case > figcaption > p {
    margin-block: 1vw 2vw;
  }

  #use-cases-section .use-case > figcaption > ul > li {
    margin-bottom: 0.5vw;
    transform: translateX(6%);
  }

  #use-cases-section .use-case > figcaption > ul > li::before {
    width: 2vw;
    height: 2vw;
  }

  /* ============================================================================== */
  /* ==============================[ FAQ SECTION ]================================= */
  /* ============================================================================== */
  #faq-section {
    grid-template-areas: ". img-container ." ". faq-container .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    padding: 5.806vw 0;
  }

  #faq-section .faq-img {
    margin-top: initial;
    width: 65%;
    margin-bottom: 5vw;
  }

  #faq-section .faq-container {
    padding-inline-end: initial;
    font-size: 1.2rem;
  }

  #faq-section .faq-container .faq {
    margin-block: 1.5vw;
  }

  #faq-section .faq-container .faq > details {
    line-height: 3vw;
    padding: 2vw 2.5vw;
    margin-bottom: 1.3vw;
  }

  #faq-section .faq-container .faq > details[open] > summary {
    border-width: var(--btn-border-width-in-md-screen);
    padding-bottom: 1.3vw;
    margin-bottom: 1.3vw;
  }

  #faq-section .faq-container .faq > details > summary .arrow {
    border-width: var(--btn-border-width-in-md-screen);
    width: 1.8vw;
    height: 1.8vw;
  }

  #faq-section .faq-container > a::after {
    border-width: 0.2vw;
    width: 0.8vw;
    height: 0.8vw;
    top: 0.9vw;
  }
}

/* ============================================================================== */
/* =============================[ SMALL SCREENS ]================================ */
/* ============================================================================== */
@media (max-width: 767px) {
  .btn-container > :first-child {
    margin-inline-end: var(--btn-margin-in-sm-screen);
  }

  .btn,
  .btn-with-bg {
    padding: var(--btn-padding-in-sm-screen);
    font-size: var(--btn-font-size-in-sm-screen);
    border-width: var(--btn-border-width-in-sm-screen);
    border-radius: 4.5vw;
  }

  .btn-wide {
    padding-inline: var(--btn-wide-padding-inline-in-sm-screen);
  }

  /* ============================================================================== */
  /* ===============================[ MAIN HEADER ]================================ */
  /* ============================================================================== */
  #main-header {
    padding: var(--main-header-padding-in-sm-screen);
    grid-template-areas: ". logo menu-btn .";
    position: relative;
    overflow: hidden;
  }

  #main-header.active {
    overflow: visible;
  }

  #main-header .logo {
    font-size: 2.5rem;
  }

  #main-header .logo .logo-icon {
    margin-inline-end: 1vw;
    width: 10vw;
  }

  #main-header .logo::after {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  #main-header #menu-btn {
    grid-area: menu-btn;
    justify-self: flex-end;
    appearance: none;
    outline: none;
    border: none;
    width: 4rem;
    height: 4rem;
    fill: var(--secondary-color);
    display: flex;
    cursor: pointer;
    transition: transform 500ms;
    transform: rotate(0);
  }

  #main-header #menu-btn.active {
    transform: rotate(180deg);
  }

  #main-header #navbar {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 16vw;
    right: 0;
    height: 55vw;
    z-index: 9999;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5vw;
    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
    transition: transform 500ms;
    transform: translateX(101%);
  }

  #main-header #navbar.active {
    transform: translateX(0);
  }

  #main-header #navbar > a {
    font-size: var(--btn-font-size-in-sm-screen);
    width: 100%;
  }

  #main-header #navbar .btn-container > a {
    line-height: 2.5vw;
    border-color: var(--primary-color);
  }

  #main-header #navbar .btn-container > a:nth-of-type(2) {
    border: none;
  }

  /* ============================================================================== */
  /* ===============================[ MAIN FOOTER ]================================ */
  /* ============================================================================== */
  .main-footer {
    font-size: 2.5rem;
  }

  .accounts {
    font-size: 3.2rem;
  }

  .accounts-container svg {
    width: 3.2rem;
    height: 3.2rem;
  }

  /* ============================================================================== */
  /* =============================[ HOME SECTION ]================================ */
  /* ============================================================================== */
  .home-section > figure {
    padding: 7vw 0;
  }

  .home-section > figure > figcaption {
    display: flex;
    flex-direction: column;
  }

  .home-section > figure > figcaption > h1 {
    font-size: 4rem;
  }

  .home-section > figure > figcaption p {
    font-size: 2.95rem;
    margin: 4vw 0 5vw;
  }

  .home-section > figure > figcaption .btn-container > a:nth-of-type(2)::after {
    width: 9.516vw;
    height: 9.516vw;
    transform: rotate(-55deg) translate(-10%, -15%);
  }

  @keyframes clicking {
    50% {
      width: 11.16vw;
      height: 11.16vw;
    }
    60% {
      width: 9.84vw;
      height: 9.84vw;
    }
    70% {
      width: 11.16vw;
      height: 11.16vw;
    }
    100% {
      width: 9.516vw;
      height: 9.516vw;
    }
  }

  .home-section > footer {
    grid-template-areas:
      ". h2 ."
      ". a1 ."
      ". a2 ."
      ". a3 ."
      ". a4 .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    padding: 0;
  }

  .home-section > footer > h2 {
    font-size: 3rem;
    margin: 8vw 0;
  }

  .home-section > footer > .advantage > img {
    width: 26vw !important;
  }

  .home-section > footer > .advantage > p {
    margin: 1.5vw 0 8vw;
    font-size: 2.5rem;
  }

  /* ============================================================================== */
  /* ============================[ QR TYPES SECTION ]============================== */
  /* ============================================================================== */
  #qr-types-section > header {
    padding: 8vw 0 0;
  }

  #qr-types-section > header h2 {
    flex-wrap: wrap;
    font-size: 3rem;
    margin-bottom: 4vw;
  }

  #qr-types-section > header h2 > span {
    font-size: 2.4rem;
  }

  #qr-types-section > header h2 > span:first-of-type {
    margin-inline: 0 1vw;
  }

  #qr-types-section > header .qr-type-cards {
    margin-bottom: 8vw;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.5vw;
  }

  #qr-types-section > header .qr-type-cards .btn {
    width: 25.65vw;
    height: 25.65vw;
  }

  .xsm-dynamic-img {
    width: 6.5vw;
  }

  .sm-dynamic-img {
    width: 8.9vw;
  }

  .md-dynamic-img {
    width: 8.5vw;
  }

  .lg-dynamic-img {
    width: 9.8709vw;
  }

  .xlg-dynamic-img {
    width: 10.19vw;
  }

  .xxlg-dynamic-img {
    width: 10.516vw;
  }

  #qr-types-section > header .qr-type-cards .btn > p {
    font-size: 2.4rem;
  }

  #qr-types-section > footer {
    grid-template-rows: 1fr 1.6fr;
    padding: 7vw 0;
  }

  #qr-types-section > footer .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
  }

  #qr-types-section > footer .left-section > h2 {
    font-size: 3.19rem;
    margin-bottom: 3vw;
    transform: translateX(-4vw);
  }

  #qr-types-section > footer .left-section > h2::after {
    width: 7.48vw;
    height: 7.48vw;
    transform: translate(20%, -10%);
  }

  #qr-types-section > footer .left-section > h2 > div {
    display: inline-block;
  }

  #qr-types-section > footer .left-section > div {
    align-items: center;
  }

  #qr-types-section > footer .left-section > div > p {
    font-size: 2.5rem;
    margin-bottom: 5vw;
  }

  #qr-types-section > footer .left-section > div .btn {
    padding: 4vw 1.5vw;
  }

  #qr-types-section > footer .right-section {
    flex-wrap: wrap;
    align-content: center;
  }

  #qr-types-section > footer .right-section > p {
    font-size: 2.5rem;
  }

  #qr-types-section > footer .right-section > p::before {
    width: 5vw;
    height: 5vw;
    transform: translate(-135%, -5%);
  }

  /* ============================================================================== */
  /* ===========================[ TRUSTED BY SECTION ]============================= */
  /* ============================================================================== */
  .trusted-by-section {
    margin-bottom: 13vw;
  }

  .trusted-by-section > h2 {
    margin-bottom: 3vw;
  }

  .trusted-by-section > h2::after {
    width: 5.61vw;
    height: 6.516vw;
  }

  .trusted-by-section .logos {
    border-width: var(--btn-border-width-in-sm-screen);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .trusted-by-section .logos > img {
    width: 100% !important;
  }

  /* ============================================================================== */
  /* ============================[ USE CASES SECTION ]============================= */
  /* ============================================================================== */
  #use-cases-section {
    padding-block: 8vw 0;
  }

  #use-cases-section h2,
  #use-cases-section h3 {
    font-size: 4rem;
  }

  #use-cases-section > h2 {
    margin-bottom: 3vw;
  }

  #use-cases-section > h2::after {
    width: 8.84vw;
    height: 8.84vw;
  }

  #use-cases-section .use-case {
    grid-template-areas: ". img-container ." ". figcaption .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    justify-items: flex-start;
    margin-bottom: 10vw;
  }

  .img-in-right {
    grid-template-areas: ". img-container ." ". figcaption ." !important;
  }

  #use-cases-section .use-case .img-container > img {
    width: 60% !important;
  }

  #use-cases-section .use-case:nth-of-type(6) .img-container > img,
  #use-cases-section .use-case:nth-of-type(7) .img-container > img {
    width: 80% !important;
  }

  #use-cases-section .use-case:nth-of-type(8) .img-container > img,
  #use-cases-section .use-case:nth-of-type(9) .img-container > img,
  #use-cases-section .use-case:nth-of-type(11) .img-container > img {
    width: 70% !important;
  }

  #use-cases-section .use-case > figcaption {
    font-size: 2.5rem;
  }

  #use-cases-section .use-case > figcaption > p {
    margin-block: 2vw 3vw;
  }

  #use-cases-section .use-case > figcaption > ul > li {
    margin-bottom: 1vw;
  }

  #use-cases-section .use-case > figcaption > ul > li::before {
    width: 4vw;
    height: 4vw;
  }

  /* ============================================================================== */
  /* ===========================[ STATISTICS SECTION ]============================= */
  /* ============================================================================== */
  .statistics-section {
    grid-template-areas:
      ". title ."
      ". card-1 ."
      ". card-2 ."
      ". card-3 .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    padding-block: 10vw;
  }

  .statistics-section > h2 {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .statistics-section
    .statistic-card:nth-of-type(2)
    .statistic-number
    + p::after {
    width: 5.58vw;
    height: 5.58vw;
  }

  .statistics-section .statistic-card {
    justify-self: center !important;
    margin-top: 10vw;
    padding-top: 2.5vw;
    border-radius: 5.58vw;
    height: 45.29vw;
    width: 50.84vw;
    font-size: 3rem;
  }

  .statistics-section .statistic-card .card-overlay {
    width: 65%;
    height: 90%;
    border-radius: 5.58vw;
    filter: blur(6.226vw);
  }

  .statistics-section .statistic-img {
    width: 15vw;
    margin-bottom: 4vw;
  }

  .statistics-section .statistic-number {
    font-size: 3rem;
    margin-bottom: 4vw;
  }

  /* ============================================================================== */
  /* ==============================[ FAQ SECTION ]================================= */
  /* ============================================================================== */
  #faq-section {
    padding: 8vw 0;
  }

  #faq-section .faq-img {
    width: 80%;
    margin-bottom: 8vw;
  }

  #faq-section .faq-container {
    font-size: 2rem;
  }

  #faq-section .faq-container > h2 {
    font-size: 4rem;
  }

  #faq-section .faq-container > h2::after {
    width: 9.42vw;
    height: 9.42vw;
  }

  #faq-section .faq-container .faq > details {
    padding: 3vw 3.5vw;
    margin-bottom: 3vw;
    font-size: 2rem;
    line-height: 5vw;
  }

  #faq-section .faq-container .faq > details[open] > summary {
    border-width: var(--btn-border-width-in-sm-screen);
    padding-bottom: 3vw;
    margin-bottom: 2.3vw;
  }

  #faq-section .faq-container .faq > details > summary {
    grid-template-columns: 4fr 1fr;
  }

  #faq-section .faq-container .faq > details > summary .arrow {
    border-width: var(--btn-border-width-in-sm-screen);
    width: 3vw;
    height: 3vw;
  }

  #faq-section .faq-container > a::after {
    border-width: 0.3vw;
    width: 1.5vw;
    height: 1.5vw;
    top: 1.2vw;
  }
}
