@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  font-size: 25px;

  /* Colors */
  --first-color: #fff;
  --second-color: #00004e;
  --third-color: #ec198c;
  --footer-icons-color: #c6c6c6;

  /* Dimensions */
  --R-L-page-padding: 80px;
  --main-header-padding: 20px 0;
  --main-footer-padding: 70px 0;

  --btn-padding: 15px 20px;
  --btn-margin: 0 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--second-color);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-container {
  display: flex;
}

.btn,
.btn-with-bg {
  padding: var(--btn-padding);
  margin: var(--btn-margin);
  border: 3px solid var(--second-color);
  border-radius: 23px;
  font-weight: 600;
  line-height: 30px;
}

.btn-with-bg {
  background-color: var(--third-color);
}

/* ====[ MAIN HEADER ]==== */
.main-header {
  background-color: var(--first-color);
  padding: var(--main-header-padding);
  display: grid;
  grid-template-areas: ". logo nav .";
  grid-template-columns:
    var(--R-L-page-padding)
    repeat(2, 1fr)
    var(--R-L-page-padding);
  align-items: center;
}

.main-header > .logo {
  grid-area: logo;
}

.main-header > .logo a {
  display: flex;
  align-items: center;
  width: fit-content;
}

.main-header > .logo .logo-icon {
  margin-inline-end: 10px;
}

.main-header > .logo::after {
  content: "by BLENKOR";
  font-size: 0.5rem;
  font-weight: 900;
  color: #0500ff;
  position: absolute;
  letter-spacing: 0.07rem;
}

.main-header > nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

/* ====[ MAIN FOOTER ]==== */
.main-footer {
  color: var(--first-color);
  background-color: var(--second-color);
  padding: var(--main-footer-padding);
  display: grid;
  grid-template-areas: ". accounts location email .";
  grid-template-columns:
    var(--R-L-page-padding)
    3fr
    1fr
    2fr
    var(--R-L-page-padding);
  grid-template-rows: 150px;
  font-size: 0.8rem;
}

.accounts {
  grid-area: accounts;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
}

.accounts-container {
  color: var(--footer-icons-color);
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.location {
  grid-area: location;
}

.email {
  grid-area: email;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 700;
}

/* ====[  ]==== */
