:root {
  /* Medium Screen Dimensions */
  --btn-padding-in-md-screen: 1.3vw 1.44vw;
  --btn-wide-padding-inline-in-md-screen: 3.5vw;
  --btn-margin-in-md-screen: 1vw;
  --btn-font-size-in-md-screen: 1.2rem;
  --btn-border-width-in-md-screen: 0.3vw;

  /* Small Screen Dimensions */
  --main-header-padding-in-sm-screen: 2.9vw 0;
  --main-footer-padding-in-sm-screen: 5.806vw 0 4.516vw;

  --btn-padding-in-sm-screen: 2.5vw 3vw;
  --btn-wide-padding-inline-in-sm-screen: 6vw;
  --btn-margin-in-sm-screen: 3vw;
  --btn-font-size-in-sm-screen: 2.5rem;
  --btn-border-width-in-sm-screen: 0.42vw;
}

/*  MEDIUM SCREENS  */
@media (max-width: 1200px) {
  .btn-container > :first-child {
    margin-inline-end: var(--btn-margin-in-md-screen);
  }

  .btn,
  .btn-with-bg {
    padding: var(--btn-padding-in-md-screen);
    font-size: var(--btn-font-size-in-md-screen);
    border-width: var(--btn-border-width-in-md-screen);
    border-radius: 2vw;
  }

  .btn-wide {
    padding-inline: var(--btn-wide-padding-inline-in-md-screen);
  }

  /* ====[ MAIN HEADER ]==== */
  #main-header {
    grid-template-columns:
      var(--R-L-page-padding)
      1fr 1.3fr
      var(--R-L-page-padding);
  }

  #main-header > .logo {
    font-size: 1.3rem;
  }

  #main-header > .logo .logo-icon {
    margin-inline-end: 0.5vw;
    width: 5vw;
  }

  #main-header > .logo::after {
    font-size: 0.7rem;
  }

  #main-header #navbar > a {
    font-size: 1.2rem;
  }

  /* ====[ FIRST SECTION ]==== */
  .first-section > figure {
    grid-template-areas: ". img-container ." ". figcaption .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    grid-template-rows: 1fr auto;
  }

  .first-section > figure > figcaption {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .first-section > figure > figcaption p {
    font-size: 1.4rem;
    margin: 3.226vw 0;
  }

  .first-section > footer > h2 {
    font-size: 1.7rem;
  }

  .first-section > footer > .advantage > img {
    width: 15vw !important;
  }

  .first-section > footer > .advantage > p {
    margin-top: 1vw;
    font-size: 1.2rem;
  }

  /* ====[ FAQ SECTION ]==== */
  #faq-section {
    grid-template-areas: ". img-container ." ". faq-container .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    padding: 0 0 5.806vw;
  }

  #faq-section .faq-img {
    margin-top: initial;
    width: 55%;
  }

  #faq-section .faq-container {
    padding-inline-end: initial;
    font-size: 1.2rem;
  }

  #faq-section .faq-container .faq {
    margin-block: 1.5vw;
  }

  #faq-section .faq-container .faq > details {
    padding: 2vw 2.5vw;
    margin-bottom: 1.3vw;
  }

  #faq-section .faq-container .faq > details[open] > summary {
    border-width: var(--btn-border-width-in-md-screen);
    padding-bottom: 1.3vw;
    margin-bottom: 1.3vw;
  }

  #faq-section .faq-container .faq > details > summary::after {
    border-width: var(--btn-border-width-in-md-screen);
    width: 1.3vw;
    height: 1.3vw;
    top: -0.3vw;
  }

  #faq-section .faq-container .faq > details[open] > summary::after {
    top: 0.5vw;
  }

  #faq-section .faq-container .faq > details > p {
    line-height: 3vw;
  }

  #faq-section .faq-container > a::after {
    border-width: 0.2vw;
    width: 0.8vw;
    height: 0.8vw;
    top: 0.8vw;
  }
}

/*  SMALL SCREENS  */
@media (max-width: 767px) {
  .btn-container > :first-child {
    margin-inline-end: var(--btn-margin-in-sm-screen);
  }

  .btn,
  .btn-with-bg {
    padding: var(--btn-padding-in-sm-screen);
    font-size: var(--btn-font-size-in-sm-screen);
    border-width: var(--btn-border-width-in-sm-screen);
    border-radius: 2.5vw;
  }

  .btn-wide {
    padding-inline: var(--btn-wide-padding-inline-in-sm-screen);
  }

  /* ====[ MAIN HEADER ]==== */
  #main-header {
    padding: var(--main-header-padding-in-sm-screen);
    grid-template-areas: ". logo hamburger-btn .";
    position: relative;
    overflow: hidden;
  }

  #main-header.active {
    overflow: visible;
  }

  #main-header .logo {
    font-size: 2.5rem;
  }

  #main-header .logo .logo-icon {
    margin-inline-end: 1vw;
    width: 10vw;
  }

  #main-header .logo::after {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  #main-header #hamburger-btn {
    grid-area: hamburger-btn;
    justify-self: flex-end;
    font-size: 4rem;
    display: flex;
    cursor: pointer;
    transition: transform 500ms;
    transform: rotate(0);
  }

  #main-header #hamburger-btn.active {
    transform: rotate(180deg);
  }

  #main-header #navbar {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 15.71vw;
    right: 0;
    height: 55vw;
    z-index: 9999;
    color: var(--first-color);
    background-color: var(--second-color);
    padding: 5vw;
    border-top-left-radius: 2.5vw;
    border-bottom-left-radius: 2.5vw;
    transition: transform 500ms;
    transform: translateX(101%);
  }

  #main-header #navbar.active {
    transform: translateX(0);
  }

  #main-header #navbar > a {
    font-size: var(--btn-font-size-in-sm-screen);
  }

  #main-header #navbar .btn-container > a {
    line-height: 2.5vw;
    border-color: var(--first-color);
  }

  #main-header #navbar .btn-container > a:nth-of-type(2) {
    border: none;
  }

  /* ====[ FIRST SECTION ]==== */
  .first-section > figure {
    padding: 7vw 0;
  }

  .first-section > figure > figcaption {
    display: flex;
    flex-direction: column;
  }

  .first-section > figure > figcaption > h1 {
    font-size: 4rem;
  }

  .first-section > figure > figcaption p {
    font-size: 2.95rem;
    margin: 4vw 0 5vw;
  }

  .first-section
    > figure
    > figcaption
    .btn-container
    > a:nth-of-type(2)::after {
    width: 9.516vw;
    height: 9.516vw;
    transform: rotate(-55deg) translate(-10%, -15%);
  }

  @keyframes clicking {
    50% {
      width: 11.16vw;
      height: 11.16vw;
    }
    60% {
      width: 9.84vw;
      height: 9.84vw;
    }
    70% {
      width: 11.16vw;
      height: 11.16vw;
    }
    100% {
      width: 9.516vw;
      height: 9.516vw;
    }
  }

  .first-section > footer {
    grid-template-areas:
      ". h2 ."
      ". a1 ."
      ". a2 ."
      ". a3 ."
      ". a4 .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    padding: 0;
  }

  .first-section > footer > h2 {
    font-size: 3rem;
    margin: 8vw 0;
  }

  .first-section > footer > .advantage > img {
    width: 26vw !important;
  }

  .first-section > footer > .advantage > p {
    margin: 1.5vw 0 8vw;
    font-size: 2.5rem;
  }

  /* ====[ STATISTICS SECTION ]==== */
  .statistics-section {
    grid-template-areas:
      ". title ."
      ". card-1 ."
      ". card-2 ."
      ". card-3 .";
    grid-template-columns:
      var(--R-L-page-padding)
      1fr
      var(--R-L-page-padding);
    padding-block: 8vw;
  }

  .statistics-section
    .statistic-card:nth-of-type(2)
    .statistic-number
    + p::after {
    width: 3.58vw;
    height: 3.58vw;
  }

  .statistics-section .statistic-card {
    justify-self: center !important;
    margin-top: 5vw;
    padding-top: 1.5vw;
    border-radius: 3.58vw;
    height: 31.29vw;
    width: 34.84vw;
    font-size: 1.8rem;
  }

  .statistics-section .statistic-card .card-overlay {
    width: 65%;
    height: 90%;
    border-radius: 3.58vw;
  }

  .statistics-section .statistic-img {
    width: 10vw;
    margin-bottom: 3.6vw;
  }

  .statistics-section .statistic-number {
    font-size: 2rem;
    margin-bottom: 3vw;
  }

  /* ====[ FAQ SECTION ]==== */
  #faq-section {
    padding: 0 0 8vw;
  }

  #faq-section .faq-img {
    width: 70%;
  }

  #faq-section .faq-container {
    font-size: 1.5rem;
  }

  #faq-section .faq-container > h2 {
    font-size: 4rem;
  }

  #faq-section .faq-container > h2::after {
    width: 9.42vw;
    height: 9.42vw;
  }

  #faq-section .faq-container .faq > details {
    padding: var(--btn-padding-in-sm-screen);
    margin-bottom: 2vw;
    font-size: 1.7rem;
  }

  #faq-section .faq-container .faq > details[open] > summary {
    border-width: var(--btn-border-width-in-sm-screen);
    padding-bottom: 2vw;
    margin-bottom: 2vw;
  }

  #faq-section .faq-container .faq > details > summary::after {
    border-width: var(--btn-border-width-in-sm-screen);
    width: 1.5vw;
    height: 1.5vw;
    top: -0.5vw;
  }

  #faq-section .faq-container .faq > details > p {
    line-height: 4vw;
  }

  #faq-section .faq-container > a::after {
    border-width: 0.3vw;
    width: 1vw;
    height: 1vw;
  }
}
